.home {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.homeContainer {
	width: 100%;
}

.top {
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: 55vh;
	width: 100%;
}

.topLeft {
	width: 48%;
	position: relative;
}

.mainBannerTxt {
	left: 3rem;
	position: absolute;
	top: 5rem;
}

.mainBannerTop {
	color: var(--color-orange);
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

.mainBannerTxt h2 {
	font-size: 3.5rem;
	margin-bottom: 4rem;
}

.mainBannerBottom {
	width: 80%;
}

.mainBanner {
	border-radius: 2rem;
	height: 100%;
	width: 100%;
}

.topRight {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 48%;
}

.banner {
	width: 45%;
	border-radius: 1rem;
	margin: 1rem;
	overflow: hidden;
	position: relative;
}

.bannerImg {
	height: 100%;
	width: 100%;
}

.bannerTxt {
	left: 1rem;
	position: absolute;
	top: 1rem;
}

.bannerTop {
	color: var(--color-orange);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.bannerTittle {
	font-size: 1.8rem;
	font-weight: bold;
	margin: 1rem 0;
}

.bannerBottom {
	font-size: 1.2rem;
	width: 60%;
}

@media (max-width: 800px) {
	.home {
		display: block;
		padding: 0;
		margin: 0;
	}

	.top {
		height: auto;
	}

	.homeContainer {
		display: block;
	}

	.topRight {
		display: none;
	}

	.topLeft {
		background-color: var(--color-lightGrey);
		height: 100%;
		width: 100%;
	}

	.mainBanner {
		border-radius: 0;
		height: 100%;
		width: 100%;
	}

	.mainBannerTxt {
		left: 1rem;
		top: 1rem;
	}

	.mainBannerTxt h2 {
		font-size: 3rem;
	}

	.mainBannerTop {
		color: var(--color-darkGrey);
	}

	.mainBannerBottom {
		width: 60%;
	}
}
