.backdrop {
    align-items: center;
	background-color: rgba(0, 0, 0, .7);
	height: 100vh;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
	width: 100vw;
    z-index: 100;
}

.layout {
    background-color: var(--color-white);
    border-radius: 2rem;
    padding: 5rem;
}
