.top {
    align-items: center;
    background-color: var(--color-lightGrey);
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

.icons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.icons p {
    margin: 0 1rem;
}

.icon {
    cursor: pointer;
    font-size: 2.2rem;
    margin: 0 0.5rem;
}

.active {
    color: var(--color-yellow);
}